 <%= render 'shared/navbar' %>
<%= render 'shared/mobilemenu' %>
<!-- <div class="header">
  <%= render 'shared/header' %>
</div> -->


<div class="container">

  <div class="row">
    <% @list_articles.each do |article| %>
      <div class="col-sm-4 col-xs-12 ">
        <%= render 'articles/card', article: article %>
      </div>
    <% end %>
  </div>

  <% if policy(Article).new? %>
    <div class="new-article">
        <h4>Ajouter un article</h4>
      <%= render 'shared/new_article_form', article: @article, list: @list %>
    </div>
  <% end %>

  <% if policy(@list).edit? %>
    <div class="edit-list">
      <h4>Editer la liste</h4>
      <%= render 'shared/edit_list_form', list: @list %>
    </div>
  <% end %>



</div>

