 <%= render 'shared/navbar' %>
<!-- <div class="header">
  <%= render 'shared/header' %>
</div> -->
<div class="page">
<!--   <div class="side-bar">
    <%= render 'shared/side_bar', lists: @lists %>
  </div> -->
  <div class="main-content">
      <div class="container">
        <div class="row">
          <% @list_articles.each do |article| %>
            <div class="col-xs-12 col-sm-4">
              <%= render 'articles/card', article: article  %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
<div class="new-article">
  <%= render 'shared/new_article_form', article: @article, list: @list %>
</div>
