 <%= render 'shared/navbar' %>
<!-- <div class="header">
  <%= render 'shared/header' %>
</div> -->


<div class="container">

  <div class="row">
    <% @list_articles.each do |article| %>
      <div class="col-sm-4 col-xs-12 ">
        <%= render 'articles/card', article: article %>
      </div>
    <% end %>
  </div>

  <% if policy(Article).new? %>
    <div class="new-article">
        <h4>Ajouter un article</h3>
      <%= render 'shared/new_article_form', article: @article, list: @list %>
    </div>
  <% end %>

  <% if policy(@list).edit? %>
    <div class="edit-list">
      <h4>Modifier le nom de la liste</h3>
      <%= render 'shared/new_list_form', list: @list %>
    </div>
  <% end %>

  <% if policy(@list).destroy? %>
    <div class="destroy-list">
      <h4>supprimer la liste</h3>
        <%= link_to "supprimer", list_path(@list), method: :delete %>
    </div>
  <% end %>

</div>

