<div class="image-container">
  <div class="image-card">
      <div class="image-photo">
        <%= cl_image_tag article.photo, class:"image-photo-picture" %>
      <%= link_to list_article_path(@list, article) do %>
        <div class="description" style= "background: <%= article.article_color %>">
            <%= simple_format(article.description) %>
          </div>
      <% end %>
    </div>
  </div>
    <% if policy(article).edit? %>
      <%=  link_to "effacer", list_article_path(@list, article), method: :delete  %>
      <%= render 'shared/edit_article_principal_color', list:@list, article: article %>
    <% end %>
</div>
