<div class="image-container">
  <div class="image-card">
      <div class="image-photo">
        <%= cl_image_tag article.photo, width: 400, crop: :scale, class:"image-photo-picture" %>
      <%= link_to list_article_path(@list, article) do %>
        <div class="description" style= "background: <%= article.article_color %>">
          <div class="description-content">
            <%= simple_format(article.description) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <% if policy(article.show(@list)).show_up? %>
      <% unless article == @list_articles.first %>
        <%= link_to show_up_path(article.show(@list)) do %>
          <i class="fa fa-chevron-circle-up"></i>
        <% end %>
      <% end %>
    <% end %>
    <% if policy(article.show(@list)).show_down? %>
      <% unless article == @list_articles.last %>
        <%= link_to show_down_path(article.show(@list)) do %>
          <i class="fa fa-chevron-circle-down"></i>
        <% end %>
      <% end %>
    <% end %>
    <% if policy(article).edit? %>
      <%= render 'shared/edit_article_principal_color', list:@list, article: article %>
    <% end %>
</div>
