<div class="col-xs-12 col-sm-2 colcard" data-color="<%= article.article_color %>">
  <div class="image-container">
    <div class="image-card">
      <div class="image-photo">
        <%= cl_image_tag article.photo, width: 300, crop: :scale, class:"image-photo-picture" %>
        <%= link_to article_path(article) do %>
          <div class="description" style= "background: <%= article.article_color %>">
            <%= simple_format(article.description) %>
          </div>
        <% end %>
      </div>
    </div>
      <% if policy(article).up? %>
        <% unless article == @articles.first %>
          <%= link_to up_path(article) do %>
            <i class="fa fa-chevron-circle-up"></i>
          <% end %>
        <% end %>
      <% end %>

      <% if policy(article).down? %>
        <% unless article == @articles.last %>
          <%= link_to down_path(article) do %>
            <i class="fa fa-chevron-circle-down"></i>
          <% end %>
        <% end %>
      <% end %>
  </div>
</div>
