 <%= render 'shared/navbar' %>
 <%= render 'shared/mobilemenu' %>
<div class="container cards">
  <div class="articles-color">
    <% @sorted_colors.each do |color| %>
      <div class="article-color-wrap">
        <div class="article-color" data-color="<%= color %>">
          <%= render 'shared/logosvg', color:color %>
        </div>
        <div class="underline">
          <p></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @articles.each do |article| %>
      <%= render 'articles/small_card', article: article %>
    <% end %>
  </div>
</div>
