 <%= render 'shared/navbar' %>
  <%= render 'shared/mobilemenu' %>
<!-- <div class="header">
  <%= render 'shared/header' %>
</div> -->


<div class="container shoot">
    <% @shooting_shoots.each do |shoot| %>
      <%= render 'shoots/big_card', shoot: shoot %>
    <% end %>


  <% if policy(Shoot).new? %>
    <div class="new-article">
        <h4>Ajouter une photo</h4>
      <%= render 'shared/new_shoot_form', shoot: @shoot, shooting: @shooting %>
    </div>
  <% end %>

  <% if policy(@shooting).edit? %>
    <div class="edit-list">
      <h4>Editer le shooting</h4>
      <%= render 'shared/edit_shooting_form', list: @shooting %>
    </div>
  <% end %>
</div>
