<!--   <%= simple_form_for [list, article] do |f| %>
    <%= f.input :description, placeholder: 'Description', label:false %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :size, collection: article.colors.map{|color| color.id.to_s}, as: :check_boxes %>
    <%= f.submit "ok d'accord", class: "btn btn-prototype" %>
  <% end %> -->

<form novalidate="novalidate" class="simple_form edit_article" id="edit_article_82" enctype="multipart/form-data" action="/lists/4/articles/82" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">

  <input type="hidden" name="_method" value="patch">

  <input type="hidden" name="authenticity_token" value="Tv4CG3ouqUF6FPD4oYR7+d+gFnJy9I27LcogWrBpxoCfbPE6CHy7uWyBUZcn2q+isQH8sPKmYjd9AGjlQR4lTg==">

  <div class="form-group text optional article_description">
    <textarea class="form-control text optional" placeholder="Description" name="article[description]" id="article_description"></textarea>
  </div>

  <div class="form-group file required article_photo">
    <label class="control-label file required" for="article_photo">
      <abbr title="required">*</abbr> Photo
    </label>
    <input class="file required" type="file" name="article[photo]" id="article_photo">
  </div>

  <div class="form-group hidden article_photo_cache">
    <input class="form-control hidden" type="hidden" name="article[photo_cache]" id="article_photo_cache">
  </div>

      <label class="control-label check_boxes optional">Size</label>
  <%  article.colors.each do |color| %>

    <div class="form-group check_boxes optional article_size">
      <input type="hidden" name="article[size][]" value="">
      <span class="checkbox">
        <label for="article_size_956">
          <input class="check_boxes optional" type="checkbox" value="956" name="article[size][]" id="article_size_956"> <%= color.id.to_s %>
        </label>
      </span>
    </div>

  <% end %>

    <input type="submit" name="commit" value="ok d'accord" class="btn btn-prototype" data-disable-with="ok d'accord">
</form>
