<%= simple_form_for [list, article] do |f| %>

  <div class="form-group">
    <label class="control-label radio_buttons optional">Main color</label>
    <input type="hidden" name="article[chosen_color]" value="">

    <div class="color-choices">
      <% article.colors.each do |color| %>
        <input type="radio" class="hidden" value="<%= color.id %>" name="article[chosen_color]" id="article_chosen_color_<%= color.id %>">
        <label class="color-choice cc<%= article.id %>" style="background:<%= color.to_hex %>" for="article_chosen_color_<%= color.id %>"></label>
      <% end %>
    </div>
  </div>

  <%= f.input :description, placeholder: 'Description', label:false %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.submit "ok d'accord", class: "btn btn-prototype" %>
<% end %>
