<div class="navbar-wagon">
<div class="left">
  <!-- Logo -->
  <%= link_to root_path do %>
  <%= cl_image_tag 'logo_blanc', class:"navbar-wagon-brand" %>
  <% end %>
  <h2 class="title">Prototype <br /> Vintage</h2>
</div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="navbar-wagon-item navbar-wagon-link">
      <div class="dropdown">
        <div data-toggle="dropdown"> Produits </div>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "tous les produits", articles_path %></li>
          <% @lists.each do |list| %>
            <li><%= link_to list.title, list_path(list) %></li>
          <% end %>
          <li><%=  link_to '+ nouvelle liste', new_list_path if current_user && current_user.admin %></li>
        </ul>
      </div>
    </div>
    <div class="navbar-wagon-item navbar-wagon-link">
      <div class="dropdown">
        <div data-toggle="dropdown"> Moods </div>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "tous les moods", shoots_path %></li>
          <% @shootings.each do |shooting| %>
            <li><%= link_to shooting.title, shooting_path(shooting) %></li>
          <% end %>
            <li><%=  link_to '+ nouveau mood', new_shooting_path if current_user && current_user.admin %></li>
        </ul>
      </div>
    </div>
    <div class="navbar-wagon-item">
      <%= link_to "About", about_path, class: "navbar-wagon-link" %>
    </div>
    <div class="navbar-wagon-item">
      <%= link_to "Contact", contact_path, class: "navbar-wagon-link" %>
    </div>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
<!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div> -->
</div>
