
<% elements.each do |element| %>
  <div class="element-wrap">
    <div class="element-actions">
      <% if policy(element).edit? %>
        <%= link_to activity_element_path(activity, element), method: :delete do %>
          <i class="fa fa-trash"></i>
        <% end %>
        <%= link_to edit_activity_element_path(activity, element) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
      <% if policy(element).up? %>
        <% unless element == elements.first %>
          <%= link_to element_up_path(element) do %>
            <i class="fa fa-chevron-circle-up"></i>
          <% end %>
        <% end %>
      <% end %>

      <% if policy(element).down? %>
        <% unless element == elements.last %>
          <%= link_to element_down_path(element) do %>
            <i class="fa fa-chevron-circle-down"></i>
          <% end %>
        <% end %>
      <% end %>

    </div>
    <div class="element-content">
      <% if element.display == 'titre' %>
        <h2> <%= element.content %> </h2>
      <% elsif element.display == 'sous-titre' %>
        <h3> <%= element.content %> </h3>
      <% elsif element.display == 'paragraphe' %>
        <p> <%= simple_format(element.content) %> </p>
      <% elsif element.display == 'photo' %>
      <%= cl_image_tag element.photo, class:"big-screen" %>
      <% end %>
    </div>
  </div>
<% end %>
