<%= render 'shared/navbar' %>
<div class="container">
  <%= render 'activities/new', activity: @activity %>
  <div class="activities">
    <% @activities.each do |activity|%>
      <div class="activity">
        <div class="elements">
          <%= render 'activities/activity_details_for_index', elements: activity.elements, activity: activity %>
        </div>
        <% if policy(activity).up? %>
        <% unless activity == @activities.first %>
          <%= link_to activity_up_path(activity) do %>
            <i class="fa fa-chevron-circle-up"></i>
          <% end %>
        <% end %>
      <% end %>

      <% if policy(activity).down? %>
        <% unless activity == @activities.last %>
          <%= link_to activity_down_path(activity) do %>
            <i class="fa fa-chevron-circle-down"></i>
          <% end %>
        <% end %>
      <% end %>
        <%= link_to "éditer", activity_path(activity) %>
      </div>
    <% end %>
  </div>
</div>
