<%= render 'shared/navbar' %>
<%= render 'shared/mobilemenu' %>
<div class="container">
  <div class="activities">
    <% @activities.each do |activity|%>
      <div class="activity">
        <div class="elements">
          <%= render 'activities/activity_details_for_index', elements: activity.elements, activity: activity %>
        </div>
        <% if policy(activity).up? %>
        <% unless activity == @activities.first %>
          <%= link_to activity_up_path(activity) do %>
            <i class="fa fa-chevron-circle-up"></i>
          <% end %>
        <% end %>
      <% end %>

      <% if policy(activity).down? %>
        <% unless activity == @activities.last %>
          <%= link_to activity_down_path(activity) do %>
            <i class="fa fa-chevron-circle-down"></i>
          <% end %>
        <% end %>
      <% end %>
      <% if policy(Activity).edit? %>
        <%= link_to activity_path(activity) do %>
          <i class="fa fa-pencil"></i>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
  <% if policy(Activity).new? %>
    <div class="new-article">
      <h4>Ajouter une activité</h4>
      <%= render 'activities/new', activity: @activity %>
    </div>
  <% end %>
</div>
